# always ignore files
*.DS_Store
.idea
*.sublime-*
build

# npm
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log

# 导出的结果
docs/2022
docs/2021
docs/2020
docs/2019
docs/2018
docs/2017
