# always ignore files
*.DS_Store
.idea
*.sublime-*
build
bin

# npm
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log

# 导出的结果
# docs/2020
# docs/2019
# docs/2018
# docs/2017
# docs/json
